doctype html
html(lang=en, ng-app="CBQA")
  head
    title Couchbase QA
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src="/javascripts/jquery-1.11.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/app.js")
  body
    div.container
      div.header
        h3.text-muted Couchbase Live [London]

      div.jumbotron
        h1.jumbo-text Quiz

      block content

      div.footer
        p © Couchbase 2014 |
          a(href="/signout")  Signout
